* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("../imagen/imagen_login.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section {
    width: 400px;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(5px);
    padding: 45px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

/* LOGO */
.logo img {
    width: 90px;
    margin-bottom: 15px;
}

/* TITULO */
.form-section h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 30px;
    color: white;
}

/* LABEL */
label {
    display: block;
    text-align: left;
    font-size: 12px;
    margin-bottom: 8px;
    color: white;
    letter-spacing: 1px;
}

/* INPUTS */
.form-control {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffd700;
    padding: 15px 0;
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
    outline: none;
}

.form-control::placeholder {
    color: #cccccc;
}

/* PASSWORD */
.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 20px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

/* FORGOT PASSWORD */
.reset_password {
    text-align: right;
    margin-top: -5px;
    margin-bottom: 30px;
}

.reset_password a {
    color: white;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
}

/* BOTON LOGIN */
button {
    width: 100%;
    border: none;
    padding: 15px;
    background: #ffe600;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.02);
}

/* REGISTRO */
.login-text {
    margin-top: 25px;
    color: #ddd;
    font-size: 13px;
}

.login-text a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* RESPONSIVE */
@media(max-width: 768px) {
    .form-section {
        width: 90%;
        padding: 35px;
    }

    .form-section h1 {
        font-size: 40px;
    }
}