{% extends "body.html" %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet"
    href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}">

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Listado de Elementos</h5>
           <a href="{% url 'gimnasio:crear_elemento' %}" class="btn btn-primary">
                <i class="icon-base ri ri-add-line icon-18px me-1"></i>Agregar elemento
            </a>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table id="tabla-elementos" class="table table-bordered table-striped w-100">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Serial</th>
                            <th>Marca</th>
                            <th>Nombre del elemento</th>
                            <th>Tipo de elemento</th>
                            <th>Estado</th>
                            <th>Fecha ingreso</th>
                            <th>Categoría</th>
                            <th>Acciones</th>
                          </tr>
                    </thead>
                    <tbody>
                        {% for e in object_list %}
                        <tr>
                             <td>{{e.id}}</td>
                            <td>{{e.serial}}</td>
                            <td>{{e.marca}}</td>
                            <td>{{e.nombre_elemento}}</td>
                            <td>{{e.tipo_elemento}}</td>
                            <td>{{e.estado}}</td>
                            <td>{{e.fecha_ingreso}}</td>
                            <td>{{e.categoria_id}}</td>
                            <td class="text-nowrap">
                               
              <a href="{% url 'gimnasio:editar_elemento' e.id %}" 
                                                class="btn btn-sm btn-text-secondary rounded-pill btn-icon item-edit">
                                                <i class="icon-base ri ri-edit-box-line icon-22px"></i>
                                            </a>
                                       
                                           <a href="{% url 'gimnasio:eliminar_elemento' e.id %}"
                              class="btn btn-sm btn-text-secondary rounded-pill btn-icon item-trash">
                                                <i class="icon-base ri ri-delete-bin-line icon-22px">                                      </li>
                                    
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">No hay elementos registrados                .</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(function () {
        $('#tabla-elementos').DataTable({
            responsive: true,
            autoWidth: false,
            language: {
                url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
            },
            columnDefs: [
                { orderable: false, targets: 4 }
            ]
        });
    });

    {% if messages %}
        {% for message in messages %}
            Swal.fire({
                title: "Correcto",
                text: "{{ message }}",
                icon: "success",
                confirmButtonText: "OK"
            });
        {% endfor %}
    {% endif %}
</script>


{% endblock %}