<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>

    <!-- CSS Django static -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body>

<div class="container">

  <div class="form-section">

    <h2>Bienvenido</h2>
    <h1>Restablecer contraseña</h1>

    <!-- Formulario Django -->
    <form method="post">
      {% csrf_token %}

      <!-- Correo -->
      <p>Correo electrónico</p>
      <input 
        type="email"
        name="email"
        id="correoLogin"
        placeholder="Correo electrónico"
        required
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}$"
        title="Debe ser un correo válido (ejemplo@dominio.com)"
      >

      <button type="submit">enviar codigo</button>
      <a href="{% url 'login:recuperar' %}">cambiar contrasena</a>