<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="login/static/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <div class="container">
    <div class="form-section">
      <h2>Bienvenido</h2>
      <h1>Restablecer contraseña</h1>

      <form id="loginForm">
        <!-- Rol -->
        <select id="rol">
          <option value="user">Usuario</option>
          <option value="admin">Administrador</option>
        </select>

        <!-- Validación de correo -->
         <p> correo electrónico</p>
        <input type="email" id="correoLogin" placeholder="Correo electrónico" 
               required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}$"
               title="Debe ser un correo válido (ejemplo@dominio.com)">

        <!-- Contraseña con reglas -->
         <p> nueva contraseña</p>
        <div class="password-container">
        <input type="password" id="passwordLogin" placeholder="Contraseña" required
        pattern="(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*]).{6,}"
        title="Debe tener al menos 1 mayúscula, 1 número y 1 carácter especial, mínimo 6 caracteres">
        <i class="fas fa-eye toggle-password" onclick="togglePassword('passwordLogin', this)"></i>
        </div>
        <p></p>confirmar nueva contraseña</p>
        <div class="password-container">
        <input type="password" id="confirmPassword" placeholder="Confirmar contraseña" required>
        <i class="fas fa-eye toggle-password" onclick="togglePassword('confirmPassword', this)"></i>
        </div>
        <button type="submit">restablecer</button>
      </form>
    </div>
    <div class="image-section"></div>
  </div>

  <script src="restablecer.js"></script>
</body>
</html>